<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0,viewport-fit=cover">
    <title>租金账单</title>
    <link rel="stylesheet" href="./css/weiui/weui.css"/>
    <link rel="stylesheet" href="./css/weiui/example.css"/>
	<script src="./cdn/axios/1.0.0/axios.min.js"></script>
	<script src="./cdn/js.cookie.min.js"></script>
	<script src="./cdn/wxouath2.js"></script>
	<link rel="stylesheet" href="./css/iconfont/iconfont.css">
	<link rel="stylesheet" href="./css/weiui/index.css">
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/vant@2.0/lib/vant.min.js"></script>
	<script src="./cdn/url_ip.js"></script>
</head>
<div class="page preview js_show">
   <!-- <div class="page__hd">
        <h1 class="page__title">租金账单</h1>
        <p class="page__desc">账单列表</p>
    </div> -->
    <div class="page__bd">
		<div id="app" >
			<div v-for="item in records">
			<div class="weui-form-preview" >
				<div class="weui-form-preview__hd">
					<div class="weui-form-preview__item">
						<label class="weui-form-preview__label">账单金额</label>
						<em class="weui-form-preview__value">¥{{ item.totalMoney }}</em>
					</div>
				</div>
				<div class="weui-form-preview__bd">
					<div class="weui-form-preview__item">
						<label class="weui-form-preview__label">商品</label>
						<span class="weui-form-preview__value">电动打蛋机</span>
					</div>
					<div class="weui-form-preview__item">
						<label class="weui-form-preview__label">标题标题</label>
						<span class="weui-form-preview__value">名字名字名字</span>
					</div>
					<div class="weui-form-preview__item">
						<label class="weui-form-preview__label">是否支付</label>
						<span class="weui-form-preview__value" v-if="item.status==0">已支付</span>
					</div>
				</div>
				<div class="weui-form-preview__ft">
					<button class="weui-form-preview__btn weui-form-preview__btn_primary" @click="detail(item.billId)">查看详情</button>
				</div>
			</div>
			<br>
			</div>
		</div>
    </div>
    <div class="page__ft">
        <a href="javascript:home()"><img src=""></a>
    </div>
</div>
<script>
  var Vue = window.Vue;
  var vant = window.vant;
  var axios = window.axios;
  var url_ip = url_ip()
  var Wxouath2 = window.Wxouath2;
  // 注册组件
  Vue.use(vant);

  new Vue({
    el: '#app',
    data(){
      return {
          records: [
          ]

      }
    },
    watch: {
      
    },
    methods: {
       getAsset(openId){
            var _self = this;
            axios.get(url_ip+'/blade-assets/assets/getWaterByIdListUrl?openId='+openId).then(function(response) {
                console.log(JSON.stringify(response));
                _self.records = response.data.data;
                //console.log(JSON.stringify(_self.records));
            });
      },
	  //根据账单id获取详情
        detail(id){
            console.log("detail")
            window.location.href=url_ip+":8082/index_rentdetail.html?id="+id;


        },
		//获取url的参数
		getUrlParms(para) {
			var search = location.search; //页面URL的查询部分字符串
			var arrPara = new Array(); //参数数组。数组单项为包含参数名和参数值的字符串，如“para=value”
			var arrVal = new Array(); //参数值数组。用于存储查找到的参数值

			if (search != "") {
				var index = 0;
				search = search.substr(1); //去除开头的“?”
				arrPara = search.split("&");

				for (i in arrPara) {
					var paraPre = para + "="; //参数前缀。即参数名+“=”，如“para=”
					if (arrPara[i].indexOf(paraPre) == 0 && paraPre.length < arrPara[i].length) {
						arrVal[index] = decodeURI(arrPara[i].substr(paraPre.length)); //顺带URI解码避免出现乱码
						index++;
					}
				}
			}

			if (arrVal.length == 1) {
				return arrVal[0];
			} else if (arrVal.length == 0) {
				return null;
			} else {
				return arrVal;
			}
		},
		getOpenId(url){
			//先看url上面是否有openId
			var openId = this.getUrlParms('openId');
			if(openId == null ){
				openId = Cookies.get('openId');
				alert('从cookie中拿openId');
				alert(openId);
			}else{
				//范进cookie
				Cookies.set('openId',openId);
			}
			//typeof(openId)=='undefined'&&
			if(openId == null){
				var reUrl = window.location.href;
				//alert(reUrl);
				//alert("开始授权")
				window.location.href = url+'?reUrl='+reUrl;
			}else{
				return openId;
			}
		}
	},
    mounted: function() {
		this.openId = this.getOpenId('http://betimes.free.idcfengye.com/blade-mp/ouath2/ouath');
		this.getAsset(this.openId);
    }

  });
  
  
  //COOKIE 使用方法
  //Cookies.set('aaaaa', 'dddddd');
  //Cookies.set('name', 'value');
  //console.log(Cookies.get('name'));
  
</script>
</script>
    <script src="./cdn/weui/zepto.min.js"></script>
    <script type="text/javascript" src="./cdn/weui/jweixin-1.0.0.js"></script>
    <script src="./cdn/weui/weui.min.js"></script>
    <script src="./cdn/weui/example.js"></script>
</body>
</html>